@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

@font-face {
    font-family: 'Alex Brush';
    src: url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
}
@font-face{
    font-family: 'Roboto Slab';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@400;500&display=swap');
}

#Pembuka {
    background-image: url('/BACKGROUND_PEMBUKA.png');
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: transparent; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(0);
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.irfan{
font-size: 80px;
line-height: 218px;
color: #586032;
font-weight: 400;
font-family: 'Alex Brush';
text-align: center;
filter: drop-shadow(-12.021px 12.021px 8px #eeebe6);
}

.bapak{
    font-size: 21px;
color: #000000;
font-weight: 400;
font-family: "Roboto Slab";
text-align: center;
}

.hormat{
    font-size: 20px;
color: #000000;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}

#icon_undangan{
    /* padding: 20px; */
    margin-top: 40px;
    border-radius: 20px;
    border-width:0;
    
}
.bg_icon_undangan{
    cursor: pointer;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin: 0 35%; */
    padding: 3px 10px;
    /* background-color: #d0cbb9; */
    /* background-color: #fff; */
    /* ini commit */
    border-radius: 25px;
    
}
.bg_icon_undangan span{
    text-align: center;
}
.bg_icon_undangan img{
    width: 20px;
}

.Hilangkan-Pembuka{
    transform : translateY(200%);
    transition : 0.4s ease-in-out
}


